{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('signin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('signin') }}
{% endblock %}

<main class="form-signin text-center">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <img class="mb-4" src="/images/key-solid.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" value="{{ last_username }}" name="username" class="form-control" id="inputUsername" autocomplete="username" required autofocus>
            <label for="inputUsername">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" autocomplete="current-password" required>
            <label for="inputPassword">Password</label>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

{#            <div class="checkbox mb-3">#}
{#                <label>#}
{#                    <input type="checkbox" value="_remember_me"> Remember me#}
{#                </label>#}
{#            </div>#}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
</main>

{% endblock %}
